@import './breakpoints.scss';

.navigation {
  margin: auto;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  @include for-small-up {
    width: 100vw;
  }

  &__btn {
    display: flex;
    flex: 1;
    align-items: center;
    border: none;

    &-icon {
      margin: 0 10px;
    }
  }

  &-departure__btn {
    justify-content: end;
    padding-right: 40px;
    border-radius: 0 80px 0 0;
    font-size: 24px;
    color: #1eb7ee;
    text-decoration: none;
  }

  &-arrival__btn {
    padding-left: 40px;
    border-radius: 80px 0 0 0;
    font-size: 24px;
    color: #1eb7ee;
    text-decoration: none;
  }
}
